.quote.top.focus
  .quote__header
    .quote__header__btns
      %button.qButton{type: 'button'}
        Q
      .popup#copied
        Quote copied to clipboard
      %button.gButton{type: 'button'}
        G
      %button.sButton{type: 'button'}
        S
  .quote__content
    .quote__content__left
      -# - if @quote.author && @quote.author.pictures.present?
      -#   = image_tag @quote.author.pictures.sample, size: "100x100"
      -# - elsif @quote.source && @quote.source.pictures.present?
      -#   = image_tag @quote.source.pictures.sample, size: "100x100"
    .quote__content__text.0

      .quote__content__text__jp
    .quote__content__origin.0
      -# .origin__name
      -#   -if @author
      -#     \-
      -#     = link_to @author.name, '#aName' ,class: 'aName'
      -#     - if @source
      -#       \,
      -#   -elsif @quote.selfquote
      -#     = link_to @quote.quota.name, '#qName' , class: 'qName'
      -# - if @source
      -#   .origin__source
      -#     = link_to @source.name, '#sName', class: 'sName'
  .quote__footer
    .quote__footer__like
      %button.like
        L
      .quote__footer__like__times
        0
