%header
  .title
    .title__logo
      %span.q Q
      %span.u u
      %span.o o
      %span.t t
      %span.a a
    .title__sub
      \-for people who wants quotes-
  .user_menu
    .user_menu__login
      login
    .user_menu__setting
      user
.main
  .main__menu
    = render partial: 'quota'
    = render partial: 'menu'
  .main__text
    = render partial: 'quote'
