header{
  width: 100vw;
  box-sizing: border-box;
  background-color: $quota_main_col;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  .title{
    display: flex;
    align-items: flex-end;
    &__logo{
      font-size: 40px;
      position: relative;
      display: flex;
      height: 50px;
      width: 200px;
      span{
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        bottom: 100px;
        height: 40px;
        width: 40px;
        animation: fall;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        &.q{
          height: 50px;
          width: 50px;
          background-color: #ff9999;
          left: 0;
          animation-duration: 2.8s;
          animation-delay: 0.3s;
          
        }
        &.u{
          background-color: #99ff99;
          left: 50px;
          animation-duration: 2.5s;
          animation-delay: 0s;
          
        }
        &.o{
          background-color: #9999ff;
          left: 90px;
          animation-duration: 2.3s;
          animation-delay: 0.5s;
          
        }
        &.t{
          background-color: #ff99ff;
          left: 130px;
          animation-duration: 1.5s;
          animation-delay: 1s;
          
        }
        &.a{
          background-color: #99ffff;
          left: 170px;
          animation-duration: 1.8s;
          animation-delay: 0.1s;
          
        }
      }

    }
    &__sub{
      color: #ffffff;
      font-size: 20px;
      margin-left: 50px;
    }
  }
  .user_menu{
    margin-left: auto;
    display: flex;
    color: #ffffff;
    &__login{
      margin-right: 10px;
      background-color: transparent;
      transition: color .3s, ;
      cursor: pointer;
      &:hover{
        color: #fff;
        background-color: rgba(255, 90, 90, 0.8);
        animation: blink 0.5s;
      }
    }
    &__setting{
      transition: color .3s;
      cursor: pointer;
      &:hover{
        color: #fff;
        background-color: rgba(255,90,90,0.8);
        animation: blink 0.5s;
      }
    }
  }
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fall {
  0%{
    bottom: 100px;
  }
  40%{
    bottom: 0;
  }
  60%{
    bottom: 15px;
  }
  75%{
    bottom: 0;
  }
  80%{
    bottom: 5px;
  }
  90%{
    bottom: 0;
  }
  95%{
    bottom: 2px;
  }
  100%{
    bottom: 0;
  }
}