@import "variable";
.main{
  height: calc(100vh - #{$headerHeight});
  width: 100vw;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  &__menu{
    position: relative;
    height: 40vh;
  }

}