.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: transparent;
  font-family: 'Lato', ;
  &__text{
    margin-top: 25vh;
  }
  // .new{
  //   position: absolute;
  //   width: 100vw;
  //   justify-content: space-around;
  //   top: -100vh;
  //   visibility: hidden;
  //   &.active{
  //     visibility: visible;
  //     top: 15px;
  //   }
  // }
}
h3{
  color: #aaaaaa;
  font-size: 17px;
  padding-bottom: 5px;
}

input, textarea{
  transition: all .8s;
  background-color: #ffffff;
  &:focus{
    transform: scale(1.05);
    outline: none;
    background-color: #eeeeee;
  }
}

.mask{
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 10%;
  z-index: 1000;
  transition: opacity .5s;
  &.hidden{
    opacity: 0%;
    display: none;
  }
}