ul.menu{
  width: 150px;
  list-style: none;
  background-color: #eeeeee;
  font-size: 12px;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50% -50%);
  position: absolute;
  top: 30%;
  right: 20%;
  li{
    margin: 5px;
    height: 15px;
  }
}