ul.menu{
  // width: 150px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  position: fixed;
  top: 20%;
  left: 50%;
  visibility: hidden;
  opacity: 0%;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  transform: translate(-50% , -50%);
  transition: opacity 1s;
  &.active{
    visibility: visible;
    opacity: 80%
  }
  li{
    margin: 5px;
    height: 15px;
    color: #eeeeee;
    transition: all .2s;
    &:hover{
      background-color: #ffcccc;
    }
    a{
      color: #222222;
      text-decoration: none;
    }
  }
}