.quota{
  left: 50vw;
  top: 20vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $quota_main_col;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  &.active{
    animation: spin 1s linear 0s infinite;
    background-color: $quota_second_col;
  }
}
.devider{
  position: absolute;
  background-color: #ffffff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transform: scale(0);
  transition: 1s;
  &.active{
    transform: scale(1);
  }
  .plus{
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 40px;
    z-index: 0;
    &:after{
      content: '';
      background-color: #fff;
      height: 40px;
      width: 10px;
    }
  }
}

@keyframes hello {
  from{
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
 }
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

}
